@media (prefers-color-scheme: dark) {
	body {
		background-color: #0d1117;
		color: #c9d1d9;
	}

	a {
		color: #58a6ff;
	}

	#error {
		color: #c9d1d9;
		background-color: #8c0000;
	}

	#options, #about, .tweet, #loading, #filter-text {
		background-color:#161b22;
		color: #c9d1d9;
	}

	.placeholder {
		background-color: #58a6ff;
	}

	.select, .button, .search {
		background-color: #0D1117;
		color: #c9d1d9;
		border: 1px solid #30363D;
	}

	.button {
		cursor: pointer;
	}

	.button:hover:enabled {
		cursor: pointer;
		border: 1px solid #c9d1d9;
	}

	.search:disabled, .button:disabled, .select:disabled {
		color: #585A5C;
		cursor: not-allowed;
	}

	.tweet > .media > .error {
		background-color: #8c0000;
		color: #c9d1d9;
	}
}
