<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title><%= htmlWebpackPlugin.options.title %> - <%= htmlWebpackPlugin.options.description %></title>
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
        <meta name="viewport" content="width=device-width" />
        <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
        <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
        <meta property="og:image" content="images/meta-image.png" />
        <meta name="referrer" content="no-referrer">
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body>
    <div id="container">
        <div id="header">
            <h1>Parrot 🦜</h1>
            <h3>Viewer for tweet archives created with the <a target="_blank" href="https://github.com/furyutei/twMediaDownloader">Twitter Media Downloader</a></h3>
        </div>
        <div id="options">
            <div class="item">
                <label>
                    <span>Select a zip:</span>
                    <input type="file" id="zip-file" disabled accept=".zip"/>
                </label>
                <button id="close-file" disabled>Close file</button>
            </div>
            <div class="item">
                <label>
                    Auto load media: 
                    <input type="checkbox" id="autoload" name="autoload" disabled> (high RAM usage)
                </label>
            </div>
            <div class="item">
                <label>
                    <span>Filter user:</span> 
                    <select id="username-filter" disabled>
                        <option disabled selected="" value="all" hidden="">Select a username</option>
                    </select>
                </label>
                <button id="username-filter-reset" disabled>Reset</button>
            </div>
            <div class="item last">
                <label>
                    <span>Filter media:</span>
                    <select id="media-filter" disabled>
                        <option disabled selected="" value="all" hidden="">Select a media type</option>
                        <option value="none">No media</option>
                        <option value="images">Images (including GIFs)</option>
                        <option value="videos">Videos</option>
                    </select>
                </label>
                <button id="media-filter-reset" disabled>Reset</button>
            </div>
            <p id="username-filter-text" class="hide">Showing 
                <span id="username-filter-number">0</span> tweets from 
                <span id="username-filter-name">all users</span>
            </p>
        </div>
        <div id="error" class="hide"></div>
        <div id="loading" class="hide">Loading...</div>
        <div id="tweets"></div>
        <noscript>
            <div id="note">Enable JavaScript to use this tool</div>
        </noscript>
        <div id="about">
            <h3>🦜 About</h3>
            <p>Parrot is a browser-based program for viewing tweets from zip archives created with the <a target="_blank" href="https://github.com/furyutei/twMediaDownloader">Twitter Media Downloader</a> browser extension.</p>
            <h3>📖 How to</h3>
            <p>Simply select a zip created with the Twitter Media Downloader by clicking the 'browse' button above and the viewer will generate a twitter style interface for viewing the tweets.</p>
            <h3>❓ Q & A</h3>

            <p><i>Is any data upload from my device?</i><br>
            <strong>No.</strong> The viewer runs completely within your web browser and does not collect or transmit any data.</p>

            <p><i>Can I run it offline?</i><br>
            <strong>Yes.</strong> The viewer can be run offline and a download is <a href="parrot-tweet-viewer.zip">available</a>.</p>
            
            <p><i>Does it use any third party JavaScript libraries?</i><br>
            <strong>Yes.</strong> The viewer uses three third party JavaScript libraries:</p>
            <ul>
                <li><a target="_blank" href="https://github.com/Stuk/jszip">JSZip</a> (v3.10.1) - JavaScript class for generating and reading zip files.</li>
                <li><a target="_blank" href="https://github.com/mholt/PapaParse">Papa Parse</a> (v5.3.2) - Fastest in-browser CSV parser for JavaScript.</li>
                <li><a target="_blank" href="https://github.com/gregjacobs/Autolinker.js">Autolinker.js</a> (v4.0.0) - Utility to automatically link URLs.</li>
            </ul>
            <p><i>Source Code?</i><br>
                The source code is <a target="_blank" href="https://github.com/VerifiedJoseph/Parrot">available</a> on Github under the MIT license.
            </p>
        </div>
        <div id="footer">
            <small>
                <a target="_blank" href="https://verifiedjoseph.github.io/parrot/">verifiedjoseph.github.io/parrot/</a>
                <br>Commit: 
                <a target="_blank" href="<%= htmlWebpackPlugin.options.gitCommitUrl %>">
                    <%= htmlWebpackPlugin.options.gitCommitHash %>
                </a>
            </small>
        </div>
    </div>
</body>
</html>
